<%- include partials/header %>
<div class="columns">
  <div class="column card is-4">
    <div class="card-image">
      <figure class="image is-480x480">
        <img src="http://bulma.io/images/placeholders/480x480.png" alt="Image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">
            Username:
            <%- data.username %></p>
        </div>
      </div>
      <div class="content">
        <p>email:
          <%- data.email %>
        </p>
        <p>
          Current city:
          <%- data.current_city %>
        </p>
        <small>
          Account Created:<br> <%- data.created_on %>
        </small>
      </div>
    </div>
    <a id="open-modal" class="button is-info" type="submit" name="" value="">Edit Profile</a>
    <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Edit Profile</p>
          <button class="delete modal-close"></button>
        </header>
        <section class="modal-card-body">
          <div class="column">
            <form class="" action="/profile/<%- data.id%>" method="POST">
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input is-small" type="text" name="username" placeholder="<%- data.username%>">
                  <span class="icon is-small is-left">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input is-small" type="password" name="current_city" placeholder="<%- data.current_city%>">
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <input class="button" type="submit" value="submit">
              </div>
            </form>

          </div>
        </section>
      </div>
    </div>


  </div>

  <div class="column">

    <% data.posts.forEach(function(post) { %>
    <div class="box">
      <div class="content">
        <h4><%- post.title %></h4>
        <p><%- post.content %></p>
        <p><%- post.city %></p>
        <p><%- post.created_on %></p>
      </div>
    </div>
    <% }) %>

  </div>

</div>




<%- include partials/footer %>
